<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet"/>
    <title>show single post</title>
</head>
<body>
    <h1>single id <%=post.id%> is here</h1>
    <div class="post">
        <h2><%=post.username%></h2>
        <h3><%=post.content%></h3>
    </div>
</body>
</html>